<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fentric.mapper.SysMenuMapper">
    <resultMap id="EncapsulateSysMenu" type="com.fentric.pojo.SysMenu">
        <id property="menuId" column="menu_id"></id>
        <result property="parentId" column="parent_id"></result>
        <result property="menuName" column="menu_name"></result>
        <result property="path" column="path"></result>
        <result property="component" column="component"></result>
        <result property="perms" column="perms"></result>
        <result property="icon" column="icon"></result>
        <result property="status" column="status"></result>
        <result property="deleted" column="deleted"></result>
        <result property="comment" column="comment"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
    </resultMap>
    <!--除了超级管理员查询权限-->
    <select id="selectPermsByRoleId" resultType="java.lang.String">
        SELECT DISTINCT perms
        FROM
            sys_role_menu rm
                LEFT JOIN sys_menu m ON rm.`menu_id`=m.`menu_id`
        ${ew.customSqlSegment}
    </select>

    <!--管理员的查询所有菜单-->
    <!--length(m.menu_id)<=3-->
    <select id="selectMenuAll" resultMap="EncapsulateSysMenu">
        SELECT m.menu_id,m.parent_id,m.menu_name,m.path,m.component,IFNULL(m.perms,"") AS perms,m.icon,m.STATUS,m.deleted,m.COMMENT,m.create_time,m.update_time
        FROM sys_menu m
        where
                <![CDATA[
                    m.deleted=0 and m.status=0
                ]]>
    </select>
    <!--根据roleId查询-->
    <select id="selectMenuByRoleId" resultMap="EncapsulateSysMenu">
        SELECT m.menu_id,m.parent_id,m.menu_name,m.path,m.component,IFNULL(m.perms,"") AS perms,m.icon,m.STATUS,m.deleted,m.COMMENT,m.create_time,m.update_time
        FROM sys_menu m
                LEFT JOIN sys_role_menu rm ON m.`menu_id`=rm.`menu_id`
        where
                <![CDATA[
                  role_id=#{roleId} AND m.deleted=0 and m.status=0 and rm.deleted=0 and rm.status=0
                ]]>
    </select>
</mapper>
